
    body{
    background-color: rgb(226, 224, 224);
        }
    
    #Nome1 {
        font-family: "Dancing Script", cursive;
        font-weight: 700;
        font-style: oblique;
        color: rgb(36, 36, 36);
        text-decoration: underline rgb(185, 33, 185);
      }
      
    p {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(36, 36, 36);
        font-size: 16px;
    }

    li {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(36, 36, 36);
        font-size: 16px;
    }

    .mainm {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-style: oblique;
        color: rgb(36, 36, 36);
        background-color: #a00085;
        border: 1px solid #000000;
        border-radius: 40px;
        color: #ffffff;
        list-style-type: none;
        margin: 5px;
        padding: 3px;
        text-align: center;
        display: block;
    }

    a:link {
    color: rgb(255, 99, 255);
    background-color: transparent;
    text-decoration: none;
    }

    a:visited {
    color: rgb(255, 0, 0);
    background-color: transparent;
    text-decoration: none;
    }

    a:hover {
      color: rgb(140, 0, 255);
      background-color: transparent;
      text-decoration: underline;
    }

    a:active {
    color: rgb(189, 0, 157);
    background-color: transparent;
    text-decoration: underline;
    }

    * {
        color: rgb(36, 36, 36);
        
        text-align: center;
    }
